@import "../../../theme/variables";
.variants {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__item {
    background-color: $buttonColor;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    transition: all $transitionTime;
    position: relative;
    &::before {
      content: "";
      background-color: $backgroundWindows;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all $transitionTime;
    }
    &:hover {
      background-color: $buttonHoverColor;
      &::before {
        background-color: $fontColor;
      }
    }
  }
}
