.variants {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% minmax(auto, 70%);
  margin-bottom: 20px;
  gap: 20px;
  &__options {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .variants {
    height: 100%;
    grid-template: auto 1fr/ 1fr;
    gap: 20px;
  }
}
