.game {
  &__score {
    color: #ffffff;
    font-size: 30px;
    text-align: right;
  }
  &__window {
    width: 100%;
    color: #ffffff;
  }
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  &__blocking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 72, 80, 0.9);
    border-radius: 10px;
    z-index: 10;
    top: 0;
    transition: all 0.6s;
    -webkit-box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
  }

  &__logo {
    font-family: "Kolker";
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  &__window-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__window-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonColor;
    border-radius: 10px;
    font-size: 100%;
    height: 50px;
    width: 15%;
    color: white;
    text-align: center;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      background-color: #229182;
      transform: scale(1.05);
    }
  }
  &__question {
    padding: 20px;
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);

    &-img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 85%;
    }
    &-name {
      font-size: 30px;
    }
    &-divider {
      width: 100%;
      border-top: 3px solid #bbb;
      margin-bottom: 10px;
    }
    &-audio {
      width: 100%;
    }
  }
  &__answer {
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 1/2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-item {
      background-color: $buttonColor;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15%;
      height: 15%;
      cursor: pointer;
      transition: all 1s;
      position: relative;

      &:hover {
        background-color: #229182;
        transform: scale(1.005);
      }
      &:before {
        content: "";
        background-color: #fff;
        border-radius: 100%;
        height: 10px;
        left: 12px;
        top: 17px;
        position: absolute;
        width: 10px;
      }
      &_true {
        background-color: $backgroundWindows;
        &:before {
          background-color: #2baa27;
        }
      }
      &_false {
        background-color: $backgroundWindows;
        &:before {
          background-color: #be0f0f;
        }
      }
    }
  }
  &__about {
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 2/4;
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    position: relative;

    &-block {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      font-size: 30px;
      width: 100%;
      height: 100%;
      background-color: $backgroundWindows;
      z-index: 9;
    }
    &-img {
      width: 130px;
      height: 130px;
      align-self: end;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 85%;
      grid-column: 2/4;
    }
    &-name {
      font-size: 30px;
      grid-column: 2/4;
    }
    &-divider {
      width: 100%;
      border-top: 3px solid #bbb;
      margin-bottom: 10px;
      grid-column: 2/4;
    }
    &-audio {
      width: 100%;
      grid-column: 2/4;
      align-self: end;
    }
    &-descr {
      grid-column: 1/4;
      align-self: center;
    }
  }
  &__btn {
    grid-column: 1/4;
    grid-row: 3/4;
    align-self: center;
    background-color: $buttonColor;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transition: all 0.5;
      background-color: #229182;
      transform: scale(1.005);
    }
  }

  @keyframes flipInX {
    0% {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
}
