.game {
  color: $fontColor;
  width: 100%;
  &__status {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
  }
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  &__blocking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 72, 80, 0.9);
    border-radius: 10px;
    z-index: 10;
    top: 0;
    transition: all 0.6s;
    -webkit-box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 32px 8px rgba(255, 255, 255, 0.5);
  }
  &__logo {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
  }
  &__mode {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonColor;
    border-radius: 10px;
    font-size: 100%;
    height: 50px;
    width: 15%;
    text-align: center;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      background-color: #229182;
      transform: scale(1.05);
    }
  }
  &__question {
    padding: 20px;
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.6);

    &-img {
      width: 130px;
      height: 130px;
      border: 2px solid $fontColor;
      border-radius: 10px;
      overflow: hidden;
      align-self: center;
      justify-self: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 100%;
    }
    &-name {
      font-size: 30px;
    }
    &-divider {
      width: 100%;
      border-top: 3px solid #bbb;
      margin-bottom: 10px;
    }
  }
  &__answer {
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 1/2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-item {
      background-color: $buttonColor;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15%;
      height: 15%;
      cursor: pointer;
      transition: all 1s;
      position: relative;

      &:hover {
        background-color: #229182;
        transform: scale(1.005);
      }
      &:before {
        content: "";
        background-color: #fff;
        border-radius: 100%;
        height: 10px;
        left: 5%;
        top: 37%;
        position: absolute;
        width: 10px;
      }
      &_true {
        background-color: $backgroundWindows;
        &:before {
          background-color: #2baa27;
        }
      }
      &_false {
        background-color: $backgroundWindows;
        &:before {
          background-color: #be0f0f;
        }
      }
    }
  }
  &__about {
    border-radius: 10px;
    background-color: $backgroundWindows;
    grid-column: 2/4;
    padding: 20px;
    position: relative;
    overflow: hidden;

    &-wrapper {
      display: grid;
      grid-template: 1fr 1fr /1fr 5fr;
      gap: 10px;
      align-self: center;
    }

    &-block {
      transition: all 0.6s;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      font-size: 30px;
      width: 100%;
      height: 100%;
      background-color: $backgroundWindows;
      z-index: 9;
      top: 0;
      left: 0;
    }
    &-img {
      width: 130px;
      height: 130px;
      align-self: center;
      justify-self: center;
      border: 2px solid $fontColor;
      border-radius: 10px;
      overflow: hidden;
      grid-column: 1/2;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      width: 100%;
      grid-column: 2/4;
    }
    &-name {
      font-size: 30px;
      grid-column: 2/4;
    }
    &-divider {
      width: 100%;
      border-top: 3px solid #bbb;
      margin-bottom: 10px;
      grid-column: 2/4;
    }
    &-audio {
      width: 100%;
      grid-column: 2/4;
      align-self: end;
    }
    &-descr {
      grid-column: 1/4;
      align-self: center;
      text-align: justify;
    }
  }
  &__next {
    grid-column: 1/4;
    grid-row: 3/4;
    align-self: center;
    background-color: $buttonDisableColor;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s;
    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $fontColor;
      border-radius: 10px;
    }

    &:hover {
      transition: all 0.5;
      background-color: #229182;
      transform: scale(1.005);
    }
  }

  @keyframes flipInX {
    0% {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
}
.player {
  width: 100%;
}

.result-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 15;
  &__window {
    width: 40%;
    height: 50%;
    background-color: $backgroundWindows;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
  }
  &__score {
    text-align: center;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__button {
    text-align: center;
    width: 40%;
    height: 50px;
  }
}
