.header {
  color: $fontColor;
  width: 100%;
  &__wrapper {
    position: relative;
  }
  &__logo {
    font-family: Kolker;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonColor;
    border-radius: 10px;
    font-size: 100%;
    height: 50px;
    width: 25%;
    color: white;
    text-align: center;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      background-color: #229182;
      transform: scale(1.05);
    }

    &-rules {
      position: absolute;
      right: 0;
      bottom: -70;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $buttonColor;
      border-radius: 10px;
      font-size: 100%;
      height: 50px;
      width: 50px;
      color: white;
      text-align: center;
      transition: all 0.6s;
      cursor: pointer;

      &:hover {
        background-color: #229182;
        transform: scale(1.05);
      }
    }
  }
}
