.video {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  pointer-events: none;
  top: 0;
  transition: all 1s;
}
.rules {
  display: none;
  justify-self: self-start;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 15;
  &__window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: $fontColor;
    max-width: 400px;
    height: 50vh;
    background-color: $backgroundWindows;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
    &-close {
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
}
