@import "../../theme/variables";

.help {
  &__button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: $buttonColor;
    font-size: 3rem;
    color: $fontColor;
    transition: all $transitionTime;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    &:hover {
      background-color: $buttonHoverColor;
    }
  }
  &__info {
    padding: 40px 20px 20px 20px;
    width: 300px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 425px) {
  .help {
    &__button {
      width: 50px;
      height: 50px;
      right: 10px;
      font-size: 2rem;
    }
  }
}
