@import "../../../theme/variables";

.button {
  font-size: 1.5rem;
  background-color: $buttonColor;
  color: $fontColor;
  padding: 10px;
  width: 100%;
  transition: all $transitionTime;
  border-radius: $buttonBorderRadius;
  box-shadow: $windowShadow;
  &:hover {
    background-color: $buttonHoverColor;
  }
  &_active {
    background-color: $buttonActiveColor;
  }
  &_disable {
    background-color: $buttonDisableColor;
    pointer-events: none;
    box-shadow: none;
  }
}
