@import "../../../../theme/variables";
.svg {
  width: 40px;
  path {
    transition: all $transitionTime;
    fill: $fontColor;
  }
  rect {
    transition: all $transitionTime;
    fill: $fontColor;
  }
}

@media (min-width: 769px) {
  .svg {
    &:hover {
      path {
        fill: $buttonHoverColor;
      }
      rect {
        fill: $buttonHoverColor;
      }
    }
  }
}
