@import "blocks/base/reset";
@import "blocks/base/variables";
@import "blocks/base/fonts";
@import "blocks/base/button";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/startPage";
@import "blocks/gamePage";
@import "blocks/base/audio";
@import "blocks/results";
@import "blocks/gallery";
body {
  -webkit-box-shadow: inset 0px 0px 16px 8px rgba(255, 255, 255, 0.12);
  -moz-box-shadow: inset 0px 0px 16px 8px rgba(255, 255, 255, 0.12);
  box-shadow: inset 0px 0px 16px 8px rgba(255, 255, 255, 0.12);
  font-family: $main-font;
  width: 100%;
  min-height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@import "blocks/base/media";
