@import "../../../theme/variables";
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $backgroundWindows;
  padding: 20px;
  width: 100%;
  border-radius: $windowBorderRadius;
}
