@import "../../theme/variables";
.home {
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
  }
  &__button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 150px;
    max-width: 300px;
    width: 50%;
    a {
      font-size: 1.5rem;
      color: $fontColor;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
