@import "../../../theme/variables";
.link {
  g {
    fill: $fontColor;
    transition: all $transitionTime;
  }
}

@media (min-width: 769px) {
  .link {
    &:hover {
      g {
        fill: $buttonHoverColor;
      }
    }
  }
}
