$main-font: "Roboto", sans-serif;
$title-font: "Kolker", sans-serif;
$buttonColor: #29baa7;
$buttonHoverColor: #35f5db;
$buttonDisableColor: #165c52;
$backgroundColor: #282e33;
$backgroundWindows: #3f4850;
$fontColor: #ffffff;

$headerbackground: rgb(0, 0, 0, 0.1);
$burgerbackground: rgb(0, 0, 0, 0.5);

$transitionTime: 0.5s;
$headerShadow: 0px 87px 233px 0px rgba(0, 0, 0, 0.7);
