$main-font: "Roboto", sans-serif;
$title-font: "Kolker", sans-serif;
$buttonColor: #29baa7;
$buttonHoverColor: #35f5db;
$buttonDisableColor: #165c52;
$buttonActiveColor: #35f5db;
$buttonTrueColor: #00ff00;
$buttonFalseColor: #f54235;
$backgroundColor: #282e33;
$backgroundWindows: #3f4850;
$overlay: rgba(255, 255, 255, 0.5);
$fontColor: #ffffff;
$blackColor: #0000;

$headerbackground: rgb(0, 0, 0, 0.1);
$burgerbackground: rgb(0, 0, 0, 0.9);

$transitionTime: 0.5s;
$headerShadow: 0px 87px 233px 0px rgba(0, 0, 0, 0.7);
$windowShadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);

$buttonBorderRadius: 15px;
$windowBorderRadius: 15px;
