@media all and (max-width: 810px) {
  .header__button {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: -5px;
    }
  }
  .game__button {
    font-size: 92%;
  }
}
@media all and (max-width: 768px) {
  .container {
    width: 85%;
  }
  .header__button {
    font-size: 14px;
  }
  .game {
    &__status {
      font-size: 25px;
    }
    &__choose {
      font-size: 87%;
      flex-wrap: wrap;
    }
    &__button {
      width: 45%;
      margin-bottom: 5px;

      &:nth-child(5) {
        margin-bottom: -5px;
      }
      &:nth-child(6) {
        margin-bottom: -5px;
      }
    }
    &__answer {
      grid-column: 1/4;
      grid-row: 2/6;
    }
    &__about {
      grid-column: 1/4;
      grid-row: 6/7;
    }
    &__next {
      grid-row: 7/8;
    }
  }
  .result-popup__window {
    width: 70%;
    font-size: 20px;
  }
  .result-popup__button {
    font-size: 18px;
  }
}
@media all and (max-width: 650px) {
  .game__question {
    grid-template-rows: 1fr 1fr;
    &-img {
      grid-column: 1/3;
    }
    &-info {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  .game__about {
    grid-template-rows: 40% 60%;
    &-img {
      grid-column: 1/3;
    }
    &-info {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}
@media all and (max-width: 425px) {
  .header__button {
    width: 40%;
  }
  .footer {
    padding: 5px;
    &__github {
      width: 35px;
    }
    &__year {
      font-size: 22px;
    }
    &__img {
      width: 85px;
    }
  }
  .results__window {
    font-size: 25px;
    align-items: center;
  }
}
@media all and (max-width: 320px) {
  .container {
    width: 85%;
  }
}
