.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  &__title {
    font-size: 2rem;
  }
  &__mode {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }
}
