@import "../../theme/variables";

.footer {
  background-color: $headerbackground;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__year {
    font-size: 1.5rem;
  }
  &__gitIcon {
    width: 100px;
  }
}
