@import "../../theme/variables";
.score {
  margin: 20px 0;
  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  &__list {
    width: 100%;
    display: grid;
    row-gap: 20px;
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 375px) {
  .score {
    &__list {
      font-size: 0.9rem;
    }
  }
}
