@import "../../theme/variables";
.score {
  &__list {
    width: 100%;
    display: grid;
    row-gap: 20px;
    &-item {
      display: flex;
      justify-content: space-between;
      &-number,
      &-points,
      &-mode,
      &-date {
        width: 20%;
      }
    }
  }
}

.headers {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-number,
    &-points,
    &-mode,
    &-date {
      width: 20%;
    }
  }
}

@media (max-width: 375px) {
  .score {
    &__list {
      font-size: 0.9rem;
    }
  }
  .headers {
    &__list {
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &-number,
      &-points,
      &-mode,
      &-date {
        width: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .score {
    &__list {
      &-item {
        &-number,
        &-points,
        &-mode,
        &-date {
          width: auto;
        }
      }
    }
  }
}
