@import "../../theme/variables";
.score {
  &__list {
    width: 100%;
    display: grid;
    row-gap: 20px;
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 375px) {
  .score {
    &__list {
      font-size: 0.9rem;
    }
  }
}
