@import "../../../theme/variables";
.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    column-gap: 30px;
    &-item {
      a {
        position: relative;
        transition: all $transitionTime;
        &:hover {
          color: $buttonHoverColor;
          &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 5px;
            background-color: $buttonHoverColor;
            animation: underline 0.5s;
            width: 100%;
          }
        }
      }
    }
  }
}

.active {
  color: $buttonHoverColor;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: $buttonHoverColor;
    animation: underline 0.5s;
    width: 100%;
  }
}

.inactive {
  color: $fontColor;
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
