@import "../../../theme/variables";
.form {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  &__category {
    border-radius: $windowBorderRadius;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}
