@import "../../theme/variables";

.overlay {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: $overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 300px;
  height: 300px;
  background-color: $backgroundWindows;
  border-radius: $windowBorderRadius;
}
