@import '../../theme/variables';
@import '../../theme/animations';
.overlay {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: $overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  min-width: 300px;
  min-height: 300px;
  background-color: $backgroundWindows;
  border-radius: $windowBorderRadius;
  position: relative;
  animation: show $transitionTime;
  &__close {
    height: 50px;
    font-size: 3rem;
    color: $fontColor;
    line-height: 20px;
    transition: all $transitionTime;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    &:hover {
      color: $buttonHoverColor;
    }
  }
}
