@import "../../../theme/variables";

.category {
  font-size: 1.5rem;
  background-color: $buttonColor;
  color: $fontColor;
  padding: 10px;
  width: 150px;
  transition: all $transitionTime;
  border-radius: $buttonBorderRadius;
  border: 3px solid $buttonColor;
  &:hover {
    background-color: $buttonHoverColor;
  }
  &_active {
    background-color: $buttonActiveColor;
    border-color: $fontColor;
  }
  &_disable {
    background-color: $buttonDisableColor;
  }
}

@media (max-width: 425px) {
  .category {
    width: 110px;
    font-size: 1rem;
  }
}
