@import "../../theme/variables";
.card {
  display: grid;
  grid-template: 30px 0.2fr 1fr / 1fr 4fr;
  column-gap: 10px;
  height: 150px;
  &__image {
    width: 200px;
    height: 100%;
    border: 3px solid $fontColor;
    border-radius: $windowBorderRadius;
    overflow: hidden;
    grid-column: 1/1;
    grid-row: 1/4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-size: 1.5rem;
    grid-column: 2/3;
  }
  &__divider {
    grid-column: 2/3;
    background-color: $fontColor;
    height: 5px;
    width: 100%;
  }
  &__audio {
    width: 100%;
    grid-column: 2/3;
    audio {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .card {
    grid-template: 150px 50px 50px 50px / 1fr;
    height: 400px;
    &__image {
      grid-column: 1/1;
      grid-row: 1/1;
    }
    &__name {
      grid-column: 1/1;
    }
    &__divider {
      grid-column: 1/1;
    }
    &__audio {
      grid-column: 1/1;
    }
  }
}
