@import "../../theme/variables";
.card {
  display: grid;
  grid-template-columns: 150px;
  column-gap: 20px;
  row-gap: 10px;
  &__image {
    width: 150px;
    height: 150px;
    border: 3px solid $fontColor;
    border-radius: $windowBorderRadius;
    overflow: hidden;
    grid-row: 1/5;
    &-question {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-size: 1.5rem;
  }
  &__divider {
    background-color: $fontColor;
    height: 5px;
    width: 100%;
  }
  &__audio {
    width: 100%;
    grid-column: 2;
    audio {
      width: 100%;
    }
  }
  &__description {
    margin-top: 10px;
    text-align: justify;
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $backgroundWindows;
  z-index: 10;
  text-align: center;
  transition: all $transitionTime;
  font-size: 2rem;

  &__off {
    top: -100%;
  }
}

@media (max-width: 425px) {
  .card {
    grid-template-columns: 100%;
    gap: 10px;
    &__image {
      justify-self: center;
    }
    &__audio {
      grid-column: 1;
    }
  }
}
